@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 992px) {

    body{
        background:linear-gradient(to top, #C7F9CC, #80ED99, #57CC99, #38A3A5, #22577A);
    }

    section#login {
        width: 90vw;
    }

    section#login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > #formulario {
        float: right;
        width: 70%;
    }

    #formulario > h1 {
    font-size: 1.8em;

}

    #formulario > p {
        font-size: 1.1em;
    }


}

@media screen and (min-width: 992px){
    
    body{
        background:linear-gradient(to top, #C7F9CC, #80ED99, #57CC99, #38A3A5, #22577A);
    }
    
    section#login {
        width: 950px;
    }

    section#login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > #formulario{
        float: left;
        width: 50%;
    }

    #formulario > h1 {
    font-size: 2em;

}

    #formulario > p {
        font-size: 1.2em;
    }
}